{% extends "base.html" %}
{% block content %}




<body>



  <div class="jumbotron">
    <h2>Pineapple Payments</h2>
    <p>is an enterprise level transaction broker software that assists in making payments
      to any utility company providing gas, water and sewerage, electricity, heating and other
      utility services of any size.
      Pineapple Payments allows utility companies to input their data and their customer's data
      throught our client self-service portal via a gateway.
      Bills can be sent out via email.
      The billing module can be used both as standalone module and integrated with an existing system.
      Servers are hosted by Amazon, so it has reliable power supply and excellent internet connection,
      additionally regular server maintenances and data backups are performed. </p>
    <hr>

  </div>

  <div class="jumbotron">
    <h2>Features</h2>
    <ul>

      <li><b>Servers & Maintenance</b>: No need to invest in infrastructure – we provide you with servers
      </li>
      <li><b>Upgrades</b>: No upgrade costs - upgrades are delivered automatically
      </li>

      <li><b>Client portal</b>: See bills and consumption history
      </li>

      <li><b>Integration</b>: It is possible to make any kind of integration with other systems, ERP, bank gateways, SMS
        messaging, client portals, etc
      </li>

      <li><b>Reports</b>: Create customized reports
      </li>

      <li><b>Electronic Invoices</b>: Send bills electronically via e-mail</li>
    </ul>

  </div>

  {% endblock content %}